<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.10/dist/css/uikit.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="style.css" />
    <title>Amazon</title>
  </head>
  <body>
    <header class="header">
        <div>
            <a class="brand" href="index.html">amazon</a>
        </div>
        <div>
            <a href="cart.html">Cart</a>
            <a href="signin.html">Sign In</a>
        </div>
    </header>

    <div class="uk-container">
      <div class="products">
        <div class="uk-card uk-card-small  uk-card-default ">
          <a href="product.html">
            <div class="image uk-card-media-top">
              <img src="./images/shirt.jpg" alt="product">
            </div>
            <div class="uk-card-body">
              <h4>Freepik Shirt</h4>
              <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <!-- <i class="fa-solid fa-star-half-stroke"></i>
                <i class="fa-regular fa-star"></i> -->
              </div>
              <div class="price">
                <h3>$110</h3>
              </div>
            </div>
          </a>
        </div>
        <div class="uk-card uk-card-small uk-card-default">
          <a href="product.html">
            <div class="image">
              <img src="./images/shirt-confident-retro-man-happiness.jpg" alt="product">
            </div>
            <div class="uk-card-body">
              <h4>Free Shirt</h4>
              <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                <i class="fa-regular fa-star"></i>
              </div>
              <div class="price">
                <h3>$10</h3>
              </div>
            </div>
          </a>
        </div>
        <div class="uk-card uk-card-small uk-card-default">
          <a href="product.html">
            <div class="image">
              <img src="./images/shirt.jpg" alt="product">
            </div>
            <div class="uk-card-body">
              <h4>Pik Shirt</h4>
              <div class="rating">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star-half-stroke"></i>
                <i class="fa-regular fa-star"></i>
              </div>
              <div class="price">
                <h3>$100</h3>
              </div>
            </div>
          </a>
        </div>
    </div>
  </div>
  <footer class="row center">All right reserved</footer>
  </body>
</html>